
*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	list-style-type: none;
}
*:before,
*:after{
	box-sizing: border-box;
}
#TY_2{
	margin-left: 200px;
	margin-right: 200px;
	margin-top: 80px;
}
#T_memberTop{
	height: 78px;
	width: 100%;
}
/*标题*/
#T_memberHeading{
	width: 240px;
	/* float: left; */
}
#T_memberHeading h1{
	text-align: center;
	font-size: 32px;
	font-weight: normal;
}
.T_memberHeading_chinese{
	font-family: "方正姚体";
}
.T_memberHeading_english{
	font-family: 'Axure Handwriting';
}

/*成员信息*/
.pic_img{
	width: 134px;
	height: 150px;
}
#T_main{
	position: relative;
	width: 100%;
	height: 500px;
}
.T_container{
	margin: 4% auto;
	width: 210px;
	height: 150px;
	position: relative;
	perspective: 1000;
}
.T_container ul{
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
.T_container ul:hover{
	animation-play-state: paused;
}
.T_container ul figure{
	display: block;
	position: absolute;
	width: 134px;
	height: 150px;
	left: 10px;
	top: 10px;
	background: black;
	overflow: hidden;
	border: solid 5px black;
}
/*.T_container figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
.T_container figure:nth-child(2) { transform: rotateY(28deg) translateZ(288px);}
.T_container figure:nth-child(3) { transform: rotateY(56deg) translateZ(288px);}
.T_container figure:nth-child(4) { transform: rotateY(84deg) translateZ(288px);}
.T_container figure:nth-child(5) { transform: rotateY(112deg) translateZ(288px);}
.T_container figure:nth-child(6) { transform: rotateY(140deg) translateZ(288px);}
.T_container figure:nth-child(7) { transform: rotateY(168deg) translateZ(288px);}
.T_container figure:nth-child(8) { transform: rotateY(196deg) translateZ(288px);}
.T_container figure:nth-child(9) { transform: rotateY(224deg) translateZ(288px);}
.T_container figure:nth-child(10) { transform: rotateY(252deg) translateZ(288px);}
.T_container figure:nth-child(11) { transform: rotateY(280deg) translateZ(288px);}
.T_container figure:nth-child(12) { transform: rotateY(308deg) translateZ(288px);}
.T_container figure:nth-child(13) { transform: rotateY(335deg) translateZ(288px);}*/

.T_container img{
	filter: grayscale(0);
	cursor: pointer;
	transition: all .5s ease;
}
.T_container img:hover{
  	/*animation-play-state: paused;*/
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
/*图片的文字信息*/
.T_message{
	width: 130px;
	height: 150px;
	background-color: #000;
	margin: 0 auto;
	opacity: 0.6;
	overflow: hidden;
	position: relative;
}
.T_message li{
	font-family: '方正姚体';
	font-size: 16px;
	line-height: 20px;
	color: #cffcfc;
	padding-left: 4px;

}

/*tab标签*/
#T_lable{
	width: 80px;
	height: 200px;
	float: right;
	margin-right: 30px;
	margin-top: -220px;

}
#T_lable ul{
	width: 78px;
	height: 160px;
	margin-top: 30px;
	background-color: #F7F7F7;
	border: 1px solid #eee;
	overflow: hidden;
}
#T_lable li{
	width: 78px;
	line-height: 40px;
    text-align: center;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding:-1px 1px;
    font-family: '方正姚体';
	font-size: 16px;
	color: #000;
	cursor: pointer;
}

.T_selected{
	background-color: #F90;
	font-weight: bolder;
	padding: 0;
	border-bottom-color: #fff; 
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}
